$light-shade: #FBFBFC; // Athens Gray
$light-accent: #DD9E92; // Petite Orchard
$main-brand: #F19E30; // Fuel Yellow
$dark-accent: #E1AD7B; // Harvest Gold
$dark-shade: #C1311F; // Thunderbird

$color-main: $main-brand;
$color-light: $light-shade;
$color-dark: $dark-shade;
$color-light-accent: $light-accent;
$color-dark-accent: $dark-accent;
